.container-section7{
    position: relative;
    width: 100%;
    height: 202px;
    padding: 0 366px;
    background-color: var(--secondary);
}
.floating-nav-section7{
    position: absolute;
    width: 60.7%;
    height: 407px;
    top: 0%;
    left: 50%;
    border: none;
    transform: translate(-50%, -50%);
    padding: 0 202px 0 283px;
    background-color: var(--primary);
    border-radius: 15px;
}

.container-text-section7{
    width: 633px;
    height: 108px;
}
.text-section7{
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.container-input-section7{
    background-color: white;
    border-radius: 9px;
    padding: 8px;
    margin-top: 72px;
    width: 100%;
    height: 69px;
}
.input-section7{
    width: 100%;
    height: 50px;
    border-radius: 9px;
    border: none;
}
.input-section7::placeholder{
    font-size: 17px;
    padding-left: 20px;
    color: #a1a1a1;
    font-weight: 400;
}
.input-section7:focus{
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
}
.input-container-section7{
    width: 80%;
}
.button-container-section7{
    width: 20%;
    padding-left: 8px;
}
.btn-section7 {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
    color: white;
    font-size: 17px;

}